---
import AnimatedAbout from './AnimatedAbout'
import GlitchText from '../../components/GlitchText'
---

<section id="about" class="bg-secondary text-white">
  <div class="m-auto max-w-[1140px] p-4 md:p-8">
    <GlitchText
      client:visible
      className="mb-4 text-center font-MavenPro text-3xl md:text-left md:text-4xl font-bold"
      as="h2"
      text="About Me"
    />
    <AnimatedAbout client:visible />
  </div>
</section>
