<section
  id="nav"
  class="fixed bottom-[-300px] min-h-[300px] w-full bg-secondary text-white"
>
  aaa
</section>
<style>
  body[data-nav='true'] #nav {
    bottom: 0;
  }

  #nav {
    transition: bottom 200ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
  }
</style>
