---
import Layout from '../layouts/Layout.astro'
import AboutSection from '../components/AboutSection/index.astro'
import NavSection from '../components/NavSection'
---

<Layout title="Welcome to Astro.">
  <main class="min-h-100vh">
    <AboutSection />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi nemo
    explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum molestiae
    tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit
    architecto corrupti, illum, molestias totam eligendi nostrum molestiae tempora
    quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto
    corrupti, illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur
    eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto corrupti,
    illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur eaque
    repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Placeat quaerat modi nemo explicabo sit architecto corrupti, illum, molestias
    totam eligendi nostrum molestiae tempora quae, pariatur eaque repellendus eum
    vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
    quaerat modi nemo explicabo sit architecto corrupti, illum, molestias totam eligendi
    nostrum molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi nemo
    explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum molestiae
    tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit
    architecto corrupti, illum, molestias totam eligendi nostrum molestiae tempora
    quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto
    corrupti, illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur
    eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto corrupti,
    illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur eaque
    repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Placeat quaerat modi nemo explicabo sit architecto corrupti, illum, molestias
    totam eligendi nostrum molestiae tempora quae, pariatur eaque repellendus eum
    vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
    quaerat modi nemo explicabo sit architecto corrupti, illum, molestias totam eligendi
    nostrum molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi nemo
    explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum molestiae
    tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit
    architecto corrupti, illum, molestias totam eligendi nostrum molestiae tempora
    quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto
    corrupti, illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur
    eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto corrupti,
    illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur eaque
    repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Placeat quaerat modi nemo explicabo sit architecto corrupti, illum, molestias
    totam eligendi nostrum molestiae tempora quae, pariatur eaque repellendus eum
    vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
    quaerat modi nemo explicabo sit architecto corrupti, illum, molestias totam eligendi
    nostrum molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi nemo
    explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum molestiae
    tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit
    architecto corrupti, illum, molestias totam eligendi nostrum molestiae tempora
    quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto
    corrupti, illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur
    eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto corrupti,
    illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur eaque
    repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Placeat quaerat modi nemo explicabo sit architecto corrupti, illum, molestias
    totam eligendi nostrum molestiae tempora quae, pariatur eaque repellendus eum
    vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
    quaerat modi nemo explicabo sit architecto corrupti, illum, molestias totam eligendi
    nostrum molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi nemo
    explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum molestiae
    tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit
    architecto corrupti, illum, molestias totam eligendi nostrum molestiae tempora
    quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto
    corrupti, illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur
    eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto corrupti,
    illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur eaque
    repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Placeat quaerat modi nemo explicabo sit architecto corrupti, illum, molestias
    totam eligendi nostrum molestiae tempora quae, pariatur eaque repellendus eum
    vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
    quaerat modi nemo explicabo sit architecto corrupti, illum, molestias totam eligendi
    nostrum molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi nemo
    explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum molestiae
    tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit
    architecto corrupti, illum, molestias totam eligendi nostrum molestiae tempora
    quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto
    corrupti, illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur
    eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto corrupti,
    illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur eaque
    repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Placeat quaerat modi nemo explicabo sit architecto corrupti, illum, molestias
    totam eligendi nostrum molestiae tempora quae, pariatur eaque repellendus eum
    vitae mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
    quaerat modi nemo explicabo sit architecto corrupti, illum, molestias totam eligendi
    nostrum molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi nemo
    explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum molestiae
    tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit
    architecto corrupti, illum, molestias totam eligendi nostrum molestiae tempora
    quae, pariatur eaque repellendus eum vitae mollitia. molestiae tempora quae,
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi
    nemo explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum
    molestiae tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat modi nemo
    explicabo sit architecto corrupti, illum, molestias totam eligendi nostrum molestiae
    tempora quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit
    architecto corrupti, illum, molestias totam eligendi nostrum molestiae tempora
    quae, pariatur eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto
    corrupti, illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur
    eaque repellendus eum vitae mollitia. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Placeat quaerat modi nemo explicabo sit architecto corrupti,
    illum, molestias totam eligendi nostrum molestiae tempora quae, pariatur eaque
    repellendus eum vitae mollitia. pariatur eaque repellendus eum vitae mollitia.
  </main>
  <NavSection client:visible />
</Layout>
