---
import Layout from '../layouts/Layout.astro'
import AboutSection from '../components/AboutSection/index.astro'
import NavSection from '../components/NavSection'
---

<Layout title="Welcome to Astro.">
  <main class="min-h-100vh">
    <AboutSection />
  </main>
  <NavSection client:visible />
</Layout>
