---
import Layout from '../layouts/Layout.astro'
import Home from '../app/Home/index.astro'
import About from '../app/About/index.astro'
import Work from '../app/Work/index.astro'
import NavButton from '../components/NavButton'
---

<Layout title="Welcome to Astro.">
  <main class="min-h-100vh pb-[90px]">
    <Home />
    <About />
    <Work />
  </main>
  <NavButton client:visible />
</Layout>
