---
import GlitchText from '../../../components/GlitchText'
import SkillCard from './SkillCard/index.astro'
import { BACKEND_SKILLS, FRONTEND_SKILLS, TOOLS } from './data'
---

<div>
  <GlitchText
    client:visible
    as="h3"
    text="Frontend"
    className="mb-4 text-center font-Montserrat text-xl md:text-left md:text-2xl font-bold"
  />
  <div class="mb-6 flex flex-row flex-wrap justify-center gap-4 md:mb-8">
    {FRONTEND_SKILLS?.map((skill) => <SkillCard skill={skill} />)}
  </div>
  <GlitchText
    client:visible
    as="h3"
    text="Backend"
    className="mb-4 text-center font-Montserrat text-xl md:text-left md:text-2xl font-bold"
  />
  <div class="mb-6 flex flex-row flex-wrap justify-center gap-4 md:mb-8">
    {BACKEND_SKILLS?.map((skill) => <SkillCard skill={skill} />)}
  </div>
  <GlitchText
    client:visible
    as="h3"
    text="Tools"
    className="mb-4 text-center font-Montserrat text-xl md:text-left md:text-2xl font-bold"
  />
  <div class="flex flex-row flex-wrap justify-center gap-4">
    {TOOLS?.map((skill) => <SkillCard skill={skill} />)}
  </div>
</div>
