<section id="ps-note">
  <div class="m-auto flex flex-col items-center justify-center pb-[120px]">
    <h3 class="font-Montserrat text-md md:text-xl text-gray-600">
      PS: This site is created using <a href="https://astro.build/" class="text-tertiary">Astro</a>, <a href="https://reactjs.org/" class="text-tertiary">React</a> and <a href="https://tailwindcss.com/" class="text-tertiary">Tailwind</a>
  </h3>
  </div>
</section>
