---
import WorkItem from './WorkItem'
import { getImage } from '@astrojs/image'

const { src: govtecEduSrc } = await getImage({
  src: 'images/company/govtech.png',
  alt: 'GovTech Edu',
  width: 100,
  height: 100,
})
const { src: bukalapakSrc } = await getImage({
  src: 'images/company/bukalapak.png',
  alt: 'Bukalapak',
  width: 100,
  height: 100,
})
const { src: gradinSrc } = await getImage({
  src: 'images/company/gradin.png',
  alt: 'Gradin',
  width: 100,
  height: 100,
})
const { src: CVBintangSemestaPanganSrc } = await getImage({
  src: 'images/company/no-logo.png',
  alt: 'CV Bintang Semesta Pangan',
  width: 100,
  height: 100,
})
---

<div class="p-4 md:p-8">
  <WorkItem
    client:visible
    position="left"
    from="August 2021"
    to="Now"
    logo={govtecEduSrc || ''}
    company="GovTech Edu"
    title="Senior Frontend Engineer"
  >
    <ul class="ml-4 list-disc">
      <li>
        Worked with multiple squad to build feature that help teachers &
        educators in Indonesia in every aspect
      </li>
      <li>Contributing in building company-wide Frontend Component Library</li>
      <li>
        Published multiple packages that helped fellow frontend engineers to
        develop their application
      </li>
      <li>
        Ensuring fast user experience on every platform using PWA caching
        mechanism
      </li>
      <li>Ensuring type-safe code with typescript</li>
      <li>Applying Test Driven Development principle on every work</li>
      <li>Maintaining code quality with both unit</li>
    </ul>
  </WorkItem>
  <WorkItem
    client:visible
    position="right"
    from="July 2018"
    to="July 2021"
    logo={bukalapakSrc || ''}
    company="Bukalapak"
    title="Middle Frontend Engineer"
  >
    <ul class="ml-4 list-disc">
      <li>
        Working closely with Product and Design team to deliver high quality,
        reliable, performant, and maintainable user interfaces.
      </li>
      <li>Helped Bukalapak’s users to manage their goods by building and</li>
      <li>maintaining Bukalapak’s Seller Center Website</li>
      <li>
        Created many complex feature that simplify users experience (e.g.
        Product Variant Combination)
      </li>
      <li>Contributed in building tribe-wide Frontend Component Library</li>
      <li>Writing unit test and integration test for frontend application</li>
      <li>Become a speaker for internal Javascript community meetup</li>
      <li>
        Ensuring code compatibility across wide array of supported browsers.
      </li>
      <li>Mentoring & giving advices to fellow frontend engineers</li>
    </ul>
  </WorkItem>
  <WorkItem
    client:visible
    position="left"
    from="Sept 2017"
    to="Jun 2018"
    logo={gradinSrc || ''}
    company="Gradin"
    title="Fullstack Web Developer"
  >
    <ul class="ml-4 list-disc">
      <li>Built multiple web & desktop apps (fullstack)</li>
      <li>
        Meet with clients and provide appropriate solutions for their needs
      </li>
      <li>
        Helped management tracking employee work by building time tracking apps
      </li>
      <li>
        Helped employee and management tracking every deadline by building
        internal calendar apps which support Asana integration
      </li>
      <li>Maintaining internal hosting server</li>
      <li>Mentoring & giving advices to fellow engineers</li>
    </ul>
  </WorkItem>
  <WorkItem
    client:visible
    position="right"
    from="Jan 2016"
    to="Jan 2017"
    logo={CVBintangSemestaPanganSrc || ''}
    company="CV Bintang Semesta Pangan"
    title="Mobile App Developer (Thesis Project)"
  >
    <ul class="ml-4 list-disc">
      <li>
        Built a warehouse management system apps with the capability to
        calculate available inventory space, best product placement location
        based on product dimension and amount
      </li>
    </ul>
  </WorkItem>
</div>
