---
import { getCollection } from 'astro:content'
import { render } from 'react-dom'

const allProjects = await getCollection('projects')
const renderedProjects = await Promise.all(
  allProjects.map(async (project: any) => await project.render())
)
---

<div id="projects">
  {renderedProjects.map(({ Content }: any) => <Content />)}
</div>
