---
import { Picture } from '@astrojs/image/components'
import ScrambleText from '../../components/ScrambleText'
---

<section id="home">
  <div
    class="m-auto flex min-h-[100vh] max-w-[1140px] flex-col-reverse items-center justify-center gap-[50px] p-6 md:flex-row md:gap-8 md:p-8"
  >
    <div class="flex flex-col gap-2 text-center md:text-left">
      <div class="text-2xl md:text-3xl">Hi!, I'm</div>
      <h2
        class="text-gradient shimmer font-Montserrat text-4xl font-bold md:text-6xl"
      >
        Charles Randicha Gunawan Santoso
      </h2>
      <h3 class="text-3xl font-bold md:text-4xl">Frontend Engineer</h3>
      <div
        class="flex flex-row items-center justify-center gap-[6px] md:justify-start"
      >
        <p class="text-xl md:text-2xl">I build website that is</p>
        <ScrambleText
          client:visible
          className="text-xl md:text-2xl text-tertiary font-bold font-Montserrat"
          stringifiedTextArray="Performant,Responsive,Maintainable"
        />
      </div>
    </div>
    <div>
      <Picture
        class="bg-tertiary rounded-full self-image"
        src="/images/self-no-bg.png"
        alt="self photo"
        widths={[250, 500]}
        aspectRatio={1}
        sizes="(max-width: 768px) 250px, (min-width: 768px) 500px"
      />
    </div>
  </div>
</section>
<style>
  @keyframes show-self-image {
    0% {
      opacity: 0;
      transform: scale(0) scaleX(-1);
    }
    100% {
      opacity: 1;
      transform: scale(1) scaleX(-1);
    }
  }
  .self-image {
    animation: show-self-image 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    transform: scaleX(-1);
  }
</style>
