---
import { Image } from '@astrojs/image/components'
import GlitchText from '../../components/GlitchText'
---

<section id="home">
  <div
    class="m-auto flex min-h-[100vh] max-w-[1140px] flex-row items-center justify-center gap-8 p-4 md:p-8"
  >
    <div class="flex flex-col gap-2 text-center md:text-left">
      <div class="text-2xl md:text-3xl">Hi!, I'm</div>
      <h2
        class="text-gradient shimmer font-MavenPro text-4xl font-bold md:text-6xl"
      >
        Charles Randicha Gunawan Santoso
      </h2>
      <GlitchText
        as="h3"
        text="Frontend Software Engineer"
        className="text-3xl font-bold md:text-4xl"
        client:visible
      />
      <div class="text-xl md:text-2xl">
        I build website with performance and maintainability in mind
      </div>
    </div>
    <div class="hidden flex-[0_0_350px] md:block">
      <Image
        class="bg-secondary rounded-full self-image transition"
        src="/images/self-no-bg.png"
        alt="self photo"
        width={350}
        height={350}
      />
    </div>
  </div>
</section>
<style>
  @keyframes show-self-image {
    0% {
      opacity: 0;
      transform: scale(0) scaleX(-1);
    }
    100% {
      opacity: 1;
      transform: scale(1) scaleX(-1);
    }
  }
  .self-image {
    animation: show-self-image 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    transform: scaleX(-1);
  }
</style>
