---
import { Image } from '@astrojs/image/components'
---

<section id="about">
  <div
    class="m-auto flex min-h-[100vh] max-w-[1140px] flex-row items-center justify-center gap-8 p-4 md:p-8"
  >
    <div class="text-center md:text-left">
      <div class="text-2xl">Hi!, I'm</div>
      <h2 class="text-gradient shimmer font-MavenPro text-4xl font-bold">
        Charles Randicha Gunawan Santoso
      </h2>
      <h3 class="text-3xl font-bold">Frontend Software Engineer</h3>
      <div class="text-xl">
        I build website with performance and maintainability in mind
      </div>
    </div>
    <div class="hidden md:block">
      <Image
        class="bg-secondary rounded-full self-image"
        src="/images/self-no-bg.png"
        alt="self photo"
        width={400}
        height={400}
      />
    </div>
  </div>
</section>
<style>
  @keyframes show-self-image {
    0% {
      opacity: 0;
      transform: translateX(100px) scaleX(-1);
    }
    100% {
      opacity: 1;
      transform: translateX(0) scaleX(-1);
    }
  }
  .self-image {
    animation: show-self-image 1s ease-out;
    transform: scaleX(-1);
  }
</style>
